<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClrHeapAllocationAnalyzer" version="3.0.0" manuallyInstalled="true" />
  <package id="Microsoft.CodeAnalysis" version="3.4.0" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.6" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.4.0" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.4.0" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.4.0" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="3.4.0" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="3.4.0" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.4.0" />
  <package id="OptimizedPriorityQueue" version="5.1.0" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.core" version="3.0.2" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="1.5.0" />
  <package id="System.Composition" version="1.0.31" />
  <package id="System.Composition.AttributedModel" version="1.0.31" />
  <package id="System.Composition.Convention" version="1.0.31" />
  <package id="System.Composition.Hosting" version="1.0.31" />
  <package id="System.Composition.Runtime" version="1.0.31" />
  <package id="System.Composition.TypedParts" version="1.0.31" />
  <package id="System.Reflection.Metadata" version="1.6.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" />
</packages>